CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
/cayley
/metaballs
/particles
/texture3d
/transform_feedback

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
